body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    /* background-image: url(../src/Components/imgs/bon2.jpeg); */
    background-color: teal;
}
.hero-image{
   
    height: 100%;
    width: 100%;

}
.videos{
    flex-direction: row;
    display: flex;
    padding: 5px;
    margin: 5px;
    margin-right: 8px;
    margin-bottom: 5px;
}
.container{
    background-image: url(./Components/Home/bon2.jpeg);
    background-position: center;
    height: 50vh;
    width: 100%;
    opacity: 85%;
}
.rek{
    background-image: url(./Components/Home/bon2.jpeg);
    height:100%;
}
.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-radius: 30% 0% 0% 50%;
    background-color: black;
    width: 300px;
    height: 100%;
    position: fixed;
    top:0;
    right: -300px;
    margin: 0;
    transition: right .5s cubic-bezier(1, 0, 0, 1);
    z-index: 1000;
}

.home-logo{
    margin: 35px;
    height:100px;
}

.hero--wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--text{
    color: white;
    text-align: center;
    font-size: 5.8rem;
    animation: white 20s ease-in-out infinite;
    color: teal;
} 

header{
    display: grid;
    grid-template-columns: auto auto;
}

.hamburger--container{
    position: fixed;
    background-color: white;
    width: 40px;
    height: 40px;
    top: 40px;
    right:50px;
    padding: 15px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 10px 20px black;
}

.change .hamburger--container{
    background-color: transparent;
    transition: ease-in-out .3s;
}

.hamburger--line{
    background-color: teal;
    width: 100%;
    height:5px;
    transition: all .5s;
}

.change .line--1{
    transform: rotateZ(-405deg) translate(-10px, 9px);
}

.change .line--2{
    opacity: 0;
}

.change .line--3{
    transform: rotateZ(405deg) translate(-10px, -9px);
}

.change{
    right: 0;
    box-shadow: 2px 2px 20px black;
}

.ul--navlist li{
    margin: 50px;
    text-align: center;
}

.ul--navlist li a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.ul--navlist li a:hover{
    box-shadow: 1px 1px 20px black(255, 0, 0, 0.808);
    border: rgba(0, 225, 255, 0.74) solid 4px;
    border-radius: 20px;
    padding: 15px;
    animation: neon 100ms ease-in-out infinite ;
}

/* Recipe page's CSS */
.hero_recipes{
    width: 100vw;
    height: 35vh;
    background-color: #62c6be;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_recipes input {
    -webkit-appearance: none;
    border: none;
    font-size: 25px;
    border-radius: 5px;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-image{
    width: 100%;
}

.Recipe-Cards {
    width: 500px;
    height: fit-content;
    border: black 2px 2px;
}

.Recipe-Cards h2{
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.Recipe-Cards button{
    display: block;
    margin: auto;
    -webkit-appearance: none;
    border: none;
    margin-top: 10px;
    font-size: 20px;
}
.Hidden-Recipe{
    display: none;
}

.Shown-Recipe {

}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(228, 202, 202, 0.92),
      0 0 20px rgba(228, 202, 202, 0.34),
      0 0 12px rgba(242, 30, 30, 0.52),
      0 0 21px rgba(242, 30, 30, 0.92),
      0 0 30px rgba(242, 30, 30, 0.78),
      0 0 50px rgba(242, 37, 30, 0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(228, 202, 202, 0.98),
      0 0 20px rgba(228, 202, 202, 0.42),
      0 0 12px rgba(242, 30, 30, 0.58),
      0 0 22px rgba(242, 30, 30, 0.84),
      0 0 34px rgba(242, 30, 30, 0.88),
      0 0 56px rgb(242, 30, 30);
    }
  }
  

/* --------------------------------------------------- Media Queries --------------------------------------------------- */

@media (max-width: 768px){
    .hero--text{
        font-size: 4rem;
    }
   
    .navbar{
    border-radius: 30% 0% 0% 50%;
    background-color: black;
    width: 450px;
    height: 100%;
    position: fixed;
    right: -450px;
    top: 0;
    }

    .change{
        right: 0;
    }

}

@media (max-width: 425px){
    .logo{
        height:70px;
        margin: 15px;
        width: auto;
    }

    .hamburger--container{
        width: 30px;
        height: 30px;
        top: 20px;
        right: 25px;
    }

    .change .line--1{
        transform: rotateZ(-405deg) translate(-5px, 9px);
    }

    .change .line--3{
        transform: rotateZ(405deg) translate(-5px, -9px);
    }

    .change{
        width: 100vw;
        height:100%;
        border-radius: 0%;
        opacity: 95%;
    }

    .navbar{
        transition: right 1s cubic-bezier(1, 2, 2, 1);
        border-radius: 0%;
    }
    
    .ul--navlist li{
        margin: 120px;
    }

    .hero--wrapper{
        margin: 100px;
    }

    .hero--text{
        font-size: 3.5rem;
        padding:0;
        margin: 0;
        text-align: left;
    }
}

.validate{
    width: 100%;
    color: black;
    font-size: x-large;
}

.l-heading {
      color: teal;
      font-size: 10rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 1.875rem;
      margin-bottom: 0.625rem;
     
    }
    
    #contact-form .from-group {
      margin-bottom: 1.25rem;
      color:  teal;
      font-size: large;
    }
    
    #contact-form label {
      display: block;
    }
    
    #contact-form input,
    #comtact-form textarea {
      width: 50%;
      padding: 0.625rem;
      border: 0.063rem teal;
      margin: 1.25rem 0rem;
    }
    
    #contact-form textarea {
      height: 12.5rem;
      width: 50%;
      margin: 1.25rem 0rem;
      color: teal;
    }

  label {
    color: black;
    font-size: 100px;
  }
  
  .btn {
    display: inline-block;
    font-size: 1.125rem;
    color: #fff;
    background: teal;
    padding: 0.813rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 1.25rem;
    margin-top: 0.625rem;
  }
  
  
body{
    background: linear-gradient(270deg, #1eb39f, #4bb7ed, #94ed4b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.container{
    max-width: none;
  }
  
  
  
  .product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    list-style: none;
    margin-bottom: 250px;
  }
  
  
  
  .picks{
    font-size: 100px;
      color: teal;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 80px;
  }
  
  
  .product-list {
    list-style: none;
  }
  
  
  .picdim{
    height: 400px;
    width: 300px;
  }
  
  .picdim:hover{
  opacity: 80%;
  }
  
  
  
  .pursename{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  
  
  
  .product-price {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 30px;
  }
  
  .pdesc{
    font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin-bottom: 80px;
  }
  
  /* Restaurants Page css */
  .cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1520px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 120%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color:black;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    /* object-fit:cover; */
    object-fit:contain;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  .btn-services{padding: 9px 25px;
    border-radius: 55px;
    border: none;
    background-color:rgba(0, 136, 169, 1);
    transition: all 0.3s ease 0s;
  }
  .btn-services:hover{background-color:rgba(0, 136, 169, 0.5)
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }

/* Button Restaurant */
:root {
  --primary : #fff
}

.btn{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary{
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline{
  background-color: transparent;
  color: white;
  padding:8px 20px ;
  border:1px solid var(--primary) ;
  transition: all 0.3s ease-out;
}

.btn--medium{
  padding:8px 20px;
  font-size: 20px;
}
.btn--large{
  padding:12px 26px;
  font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
  background: white;
  color: #242424;
  transition: all 0.3s ease-out;
}
/* Button P css */
button{padding: 9px 25px;
  border-radius: 55px;
  border: none;
  background-color:slateblue;
  transition: all 0.3s ease 0s;
  
}
button:hover{background-color:lavender;
}

/* Cards Restaurant css */
.orange {
  background-color: teal;
}

.cards {
  padding: 4rem;
  background: teal;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}



/* Footer CSS */
footer {
    background-color:#52007A;
    width: 100%;
    height: 140px;
    color:white;
    text-align: center;
    position: fixed;
    bottom:0;
    box-shadow: black 2px 2px 20px;
    padding: 15px 0 0 0;
    

  }
  
  footer a {
    text-decoration: none;
    color:white;
  }
  
  #feet {
    margin: 5px;
  }
  
  footer img {
    height: 50px;
    padding-top: 15px;
  }
  
  footer a i {
    font-size: 30px !important;
    margin: 0 10px;
  }
  
  #FooterPCLogo {
    padding: 0;
    margin: 0;
    display: inline;
    color: white;
    font-size: 2em;
  }
  
  #FooterPCLogo p {
    margin: 0 0 10px 0;
  }
